{% extends 'printer/base.html' %}

{% block body %}
    <h3>Totaaloverzicht Printers</h3>
    <br>Klik op een printer voor een gedetaileerd overzicht.
    <form action='/printer/' method="GET">
        <select name='id'>
            {% for printer in printers %}
                <option value={{ printer.id }}>{{ printer }}
            {% endfor %}
        </select>
        <input type="submit" value='Details'>
    </form>
    <a href='{% url "index" %}'>Terug naar index</a>
{% endblock %}